a {
  text-decoration: none;
  color: inherit;
}
.nav {
  z-index: 1;
  position: fixed;
  top: 50px;
  margin-top: 20px;
  left: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 10px 20px;
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
  box-shadow: 0 0 10px gray inset, 0 0 10px white;

  border-radius: 15px;
}
.nav a {
  color: rgb(0, 0, 0);
  margin: 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.nav a:not(:last-child) {
  margin-bottom: 10px;
}
